.wrapperAside {
    display: flex;
    flex-direction: column;
    width: 264px;
    gap: 32px;
}
.wrapperAside .title {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #2B313B;
}

.wrapperAside .headerAside {
    background-color: #FFFFFF;
}
.wrapperAside .headerAside .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 32px 50px 32px 50px;
    aspect-ratio: 1/1;
    gap: 16px;
}


.wrapperAside .headerAside .avatar{
    margin: 0 auto;
    width: 132px;
    height: 132px;
}

.wrapperAside .headerAside .about{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    gap: 8px;
}

.wrapperAside .headerAside .about .work{
    font-size: 14px;
    line-height: 16.41px;
    color: #8F8F8F;
}


.wrapperAside .wrapperSocialLinks {
    display: flex;
    gap: 8px;
}
.wrapperAside .wrapperSocialLinks .item{
    width: 20px;
    height: 20px;
}


.wrapperAside .navigation, .wrapperAside .forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-shadow: 0px 0px 2px 0px #0000001A;
    background-color: #FFFFFF;
    gap: 16px;
}

.wrapperAside .navigation .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #D3D8DE solid;
    width: 100%;
    padding: 16px;
}
.wrapperAside .navigation .sectionNavigation1{
    border-bottom: 1px #D3D8DE solid;
}
.wrapperAside .navigation .sectionNavigation {
    width: 100%;
}
.wrapperAside .navigation .sectionNavigation .listNavigation {
    padding: 16px 16px 0 16px;
}

.wrapperAside .navigation .sectionNavigation .itemNavigation {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 16.41px;
}
.wrapperAside .navigation .sectionNavigation .itemNavigation .wrapper {
    display: flex;
    align-items: center;
}

.wrapperAside .navigation .sectionNavigation .itemNavigation img{
    margin-right: 16px;
    width: 24px;
    height: 24px;
}
.wrapperAside .navigation .sectionNavigation .itemNavigation.flex {
    display: flex;
    justify-content: space-between;
}

.wrapperAside .navigation .sectionNavigation .itemNavigation.balance .counter {
    font-size: 12px;
    line-height: 14.06px;
    color: #8F8F8F;
}

.wrapperAside .navigation .sectionNavigation .itemNavigation.connections .counter, .wrapperAside .navigation .sectionNavigation .itemNavigation.events .counter {
    display: flex;
    align-items: center;
    border-radius: 8px;
    height: 16px;
    padding: 0px 5px 0px 5px;
    font-family: VTB Group UI;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    background: #E33939;
}
.wrapperAside .navigation .sectionNavigation .itemNavigation.events .counter {
    background: #47B091;
}


.wrapperAside .forms .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #D3D8DE solid;
    width: 100%;
    padding: 16px;
}

#myForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 16px 16px 16px;
    gap: 8px;
}
#myForm #myTextarea {
    border: 1px solid #D3D8DE;
    border-radius: 4px;
    height: 88px;
    padding: 8px 16px 8px 16px;
    background: #FFFFFF;
    resize: none;
}

#myForm button {
    border-radius: 4px ;
    padding: 8px 20px 8px 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    background: #5095EC;
}


@media only screen and (max-width: 900px) {
    .wrapperAside {
        width: 30vw;
    }
    .wrapperAside .headerAside .avatar{
        height: auto;
        max-width: 100%;
        aspect-ratio: 1/1;
    }
}
@media only screen and (max-width: 600px) {
    .wrapperAside {
        width: 100%;
    }
    .wrapperAside .headerAside .wrapper{
        margin: 0 auto;
        width: 100%;
        max-width: 264px;
    }
    .wrapperAside .headerAside .avatar {
        margin: 0 auto;
    }
}







